
@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>
<img src="~/images/Skateboarding.gif" />
@section Scripts{
    <script>
     // console.log(fetch("/api/Index"));
        //fetch("/api/Index")
        //    .then(response => {
        //        //console.log(response);
        //        //console.log(response.text());
        //        if (response.ok) {
        //            return response.text();
        //        } else {
        //            console.log(`${response.status}:${response.statusText}`);
        //        }
        //    })
        //    .then(data => {
        //        console.log(data);
        //    })
        //    .catch(error => {
        //        console.log(error);
        //    });

        async function CallAjax(){
            //@Url.Action()

            const response = await fetch('@Url.Content("~/api/Index")');
            const data = await response.text();
            console.log(data);
        }

        CallAjax();
    </script>
}